body {
	color: white;
}

a{
	color: white;
}
a:hover {
	color: #764896;
}
.container{
	margin-top:10px;
	padding-top:85px;
	background-color:#310D4A;
	height:100%;
	width:70%;
}
h2,h5 {
	text-align:center;
	
}
.card {
		
		text-align:center;
        margin: 10px auto;
        margin-bottom: 10px;
}