header{
	padding:3%;
	background-color: black;
	color:white;
	height:18%
}
header a {
	background-color:#68228b;
	margin-left: 5%;
	
}
body{
	
	background-color:#68228b;
}
a {
	background-color:black;
}
.container {
	color: white;
	background-color:#68228b;
	margin-left: 3%;
	margin-right: 3%;
	padding-top: 3%;
	border: solid black 15px;
	border-radius: 10px;
}

h5 {
	font-size: 10px;
}